*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', monospace;
}

::-webkit-scrollbar {
    width: 0.5em;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #ccc;
    height: 5rem;
    border-radius: 1rem;
}



/* Index Page */
.backCover{
    position:fixed;
    margin-top: 0;
    width: 100%;
    height: 50vh;
    background-color: #efffef;
    z-index: -1;
}

.headAlign{
    margin-top: 20px;
    text-align: center;
    color:#ff9f00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameTag{
    font-size: 4rem;
    font-weight: bolder;
    margin-left: 5%;
}

.description{
    font-size: 2rem;
    font-family: 'Times New Roman';
}


.clipArt {
    position: absolute;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -70%);
  }

.middleImage{
    height: 350px; 
    width:450px;
}

.btn {
    background-color: #ff9f00;
    color: #ffffff;
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px; 
    cursor: pointer;
    z-index: 1; 
    border-radius: 0.5rem;
    width:50%;
    transition:  0.3s ease;
    border: none;
  }


  


.btn-begin{
    font-size: 90%;
    font-weight: bolder;
    font-style:italic;
}

.circlePagnition{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 85px; 
    left: 50%; 

}

.dotActive{
    width: 15px;
    height: 15px;
    background-color: #ff9f00;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #707070;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.3s ease;
}

 .dot:hover {
    background-color: #f5d208;
    transform: scale(2.5);
}

.dotActive:hover{
    transform: scale(1.5);
}


/* Login Page */
.loginSection {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topImage {
    height: 150px; 
    width: auto;
}
.container{
    text-align: center;
}

.loginForm {
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
    outline: none;
}

.forgotPwd{
    color: #707070;
    font-size: 15px;
    cursor: pointer;
    align-self: flex-end;
}

.loginButtons {
    width: 500px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   padding: 10px;
   text-align: center;
   font-size: 20px;
   font-family:monospace
}


.btnEnter{
    font-size: large;
    height: 2.3rem;
    margin: 3px;
    border: none;
    color: #ffffff;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btnEnter i{
    margin-right: 30%;
    margin-left: 2%;
}

.optionText{
    margin: 2.5%;
}

.clickEnter{
    background-color:#ff9f00;
    padding-left: 40%;
    margin-top: 5%;
}
.facebook{
    background-color: rgba(71, 71, 189, 0.842);
}

.google{
    background-color:rgb(39, 148, 221) ;
}

.apple{
    background-color: #000000;
}


.signupText {
    color: #707070;
    font-size: 15px;
    cursor: pointer;
    margin-top: 3%;
}



/* Notes */
.notePage{
    margin: 2%;
}

.notesHeader{
    margin-bottom: 2%;
    font-size: 3em;
}

.searchStyler {
    display: flex;
    align-items: center;
    position: relative;
}

.searchBar {
    flex: 1;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #ccc;
    border: none;
    margin: 0 auto;
    font-size: 2em;
    padding-left: 50px; 
    box-sizing: border-box; 
}

.searchBar:focus{
    outline: none; 
    box-shadow: 0 2px #666;
}

.fa-search {
    position: absolute;
    left: 10px;
    color: #666;
    font-size: 2em;
    opacity: 60%;
}



.boxes{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-top: 5%;
}

.eachBox, .hiddenNote{
    background-color: #f5d208;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.noteHeader{
    margin-top: 5%;
    color: #fff;
    font-size: 25px;
}

.noteText{
    color: #ece7e7;
    font-size: 10px;
    line-height: 1.5;
}

.ellipsis-icon{
    padding-left: 90%;
    font-size: 40px;
    color: #fff;
    opacity: 0.8;
}

.fa-ellipsis-h{
    padding: 5px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    border-radius: 1em;
}


.moreBox{
    background-color: #f0eeee;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.more-noteHeader{
    margin-top: 10%;
    color: #ccc;
    font-size: 25px;
}

.plus-icon{
    font-size: 40px;
}

.fa-plus-circle{
    color: #ccc;
    background-color: #fff;
    border-radius: 1em;
}

.textArea{
    margin: 0 auto;
}

.splitter {
    display: flex;
    background-color: #ff9f00;
    justify-content: center; 
    align-items: center;
    padding: 5%;
    color: #fff;
    font-size: 2em;
}

.textHead{
    width: 70%;
    height: 2em;
    margin-right: 20%;
    color: #fff;
    font-size:1em ;
    border: none;
    background: transparent;
    padding-left: 5%;
}

.textHead:focus{
    outline: none;
}

.fa-chevron-left, 
.fa-ellipsis-v{
    cursor: pointer;
}


.notesArena {
    width: 100%;
    height: 80vh; 
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
}

#editor {
    width: 97%;
    height: calc(100vh - 100px);
    outline: none;
    border: none;
    padding: 1%;
    font-size: 1.5em;
    resize: none;
    color: #000000; 
    background-color: #fff; 
    overflow: auto;
    word-wrap: break-word;
    max-width: 100%;
}

#editor::-webkit-scrollbar {
    width: 5px;
    
  }
  
#editor::-webkit-scrollbar-track {
    background: transparent;
  }
  
#editor::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 1rem;
  }



.altSection{
    height: 6em;
    margin-bottom: 0;
    background-color: #b6afaf;
    border-radius: 0.5em;
    padding: 1%;
    text-align: center;
}

.optionHeader,
.saveButton,
.deleteButton{
    font-size: 1em;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: sans-serif;
}

.saveButton,
.deleteButton{
    cursor: pointer;
}

.saveButton:hover,
.deleteButton:hover{
    transform: scale(1.2);
    border-radius: 1em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%,#707070 0%);
}

.thickHR{
    height: 0.2em;
    background-color: #fff;
}







/* Media Queries */
@media screen and (max-width: 500px){
    .headAlign{
        margin:  10% 2%;
        transform: translate(2%, 50%);    
    }

    .nameTag{
        font-size: 1.5rem;
        font-weight: bolder;
    }
    
    .description{
        font-size: 0.9rem;
    }

    .middleImage{
        height: 200px; 
        width:300px;
    }

    .eachBox{
        padding: 10px;
        border-radius: 2rem;
    }
    
    .noteHeader{
        font-size: larger;
    }
    
} 

@media screen and (max-width: 350px){
    .headAlign{
        margin:  25% 2%;
        transform: translate(2%, 50%);    
    }
}

@media screen and (max-width: 700px){
    .nameTag{
        font-size: 2rem;
    }
    
    .description{
        font-size: 1rem;
    }
}
